
@font-face {
    font-family: 'Sofia-Sans-Semi-Condensed';
    src: url(SofiaSansSemiCondensed-VariableFont_wght.ttf);
}
html {
    font-size: 16px;
    font-family: 'Sofia-Sans-Semi-Condensed', 'Courier New', Courier, monospace;
}

button,
label,
input,
select,
textarea,
progress,
meter {
    appearance: none;
    display: block;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: inherit;
    font-size: 1rem;
}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.left-side-container, .right-side-continer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
}

.left-side-container {
    background-image: url("Stars.jpg");
    background-size: 100% 100%;
    margin: 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.447);
    gap: 100px;
    padding: 20px;
}

form {
    background-color: rgb(124, 164, 164);
    box-shadow: 0px 5px 5px rgba(8, 8, 8, 0.279);
    border-top: 5px solid rgb(89, 126, 141);
    border-radius: 2px;
    padding: 30px;
}

p, h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    gap: 30px;
}

.input-container {
    width: 40%;
    margin-bottom: 1px;
    position: relative;
    background-color: antiquewhite;
    border-radius: 15px;
}

input {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 20px 16px 6px;
}

label {
    position: absolute;
    left: 15px;
    transform: translateY(-50%);
    transform-origin: left top;
    transition: 150ms;
}

input:focus, select:focus {
    outline: none;
}

input:focus + label,
input.is-valid + label {
    transform: translateY(-90%) scale(0.75);
}

select {
    text-align: center;
    border-radius: 15px;
    height: 47.1px;
}

textarea {
    width: 800px;
}

button {
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgb(248, 254, 255);
}

.copy-right {
    font-size: larger;
    text-align: center;
    color: rgb(8, 4, 4);
    margin-top: 20px;
}

img {
    border: 5px solid rgba(0, 0, 0, 0.335);
    border-radius: 50%;
    width: 300px;
    height: auto;
}

.info-card {
    width: 300px;
    font-size: 3rem;
}

.info-card > li {
    border-bottom: 2px solid black;
}

span {
    width:50vw
}
